<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="DialogDemos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <DialogDemos.Properties.Settings>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="NewsChannel" serializeAs="String">
                <value>https://go.microsoft.com/fwlink/?linkid=84795&amp;clcid=409</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowMenuItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MostRecentlyUsedItems" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="StartupAction" serializeAs="String">
                <value>OpenProject</value>
            </setting>
            <setting name="UndoLevels" serializeAs="String">
                <value>10</value>
            </setting>
        </DialogDemos.Properties.Settings>
    </userSettings>
</configuration>
